.navbutton {
background-color: yellowgreen;
font-size: 2rem;
padding: 10px 30px;
width: 100px;
text-align: center;
display: inline-block;
position: relative;
z-index: 1;
}

.dropdown {
    display: none;
}

.navbutton:hover .dropdown {
    display: block;
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}

.dropdown .navbutton:hover {
background-color: tomato;
transition-duration: .1s;
}

